:root{
  --background-color:#040404ac;
  --component-color: #808080;
  --text-color: white;
  --hover-component-color: #d1c9c998;
}
*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  color: var(--text-color);
}
html, body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.img-btn{
  position: relative;
  padding: 5px;
  border-radius: 20px;
  background-color: var(--component-color);
}
.img-btn:active{
  background-color: white;
  color: black;
}
.img-btn:hover{
  background-color: var(--hover-component-color);
}

.img-icon-btn{
  width: 28px;
}
.img-small-icon-btn{
  width: 20px;
}
.header, .header-home, imgbtn {
  /* Make .header-menu to be flex in this part */
  display: flex;
  align-items: center;
}

.container{
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header{
  padding: 10px 0px 20px 0px;
  justify-content: center;
}
.header-menu{
  display: none;
}
.search-box{
  background-color: var(--component-color);
  display: flex;
  border-radius: 20px;
}
.search-box:hover, section:hover, main:hover{
  box-shadow: 3px 2px 1px var(--hover-component-color);
}

#search{
  outline: none;
  border: none;
  margin: 10px;
  background-color: var(--component-color);
  width: 50vw;
  color: white;
  font-size: 18px;
}
#search::placeholder{
  color: white;
}
#searchbtn .searchbtn{
  fill:red;
}
.library-search-box{
  width: 100%;
  display: flex;
  border-radius: 20px;

}
.library-buttons{
  display: flex;
  gap: 20px;
}
.lib-button{
  border: none;
  background-color: var(--hover-component-color);
}
.lib-button:hover{
  background-color: transparent;
  border: 1px solid var(--hover-component-color);
}
.library-search{
  outline: none;
  border: 1px solid var(--hover-component-color);
  border-radius: 20px;
  padding: 6px;
  width: 100%;
  background-color: var(--component-color);
}
section, main{
  background-color: var(--component-color);
  border-radius: 10px;
  height: 70vh;
  padding: 10px;
}
.container-body{
  display: grid;
  padding-left: 20px;
  padding-right: 20px;
  grid-template-columns: 0.3fr auto;
  gap: 20px;
}
footer{
  border: 1px solid blue;
  margin-top: auto;
  display: flex;
  justify-content: center;
  margin-top: auto;
}
.playButtons{
  border: 1px solid yellow;
  display: flex;
  gap: 10px;
}
.button{
  padding: 0;
  border-radius: 100%;
  background-color: var(--component-color);
  border: none;
  display: flex;
  justify-content: center;
}
.button:hover{
  cursor: pointer;
  background-color: var(--hover-component-color);
  border-color: var(--hover-component-color);

}